# Python 3.10.12
gymnasium==1.0.0
loco_mujoco==0.4.1
mujoco==2.3.7
numpy==2.2.4
opencv_contrib_python==4.10.0.84
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
stable_baselines3==2.5.0
torch==2.5.1
